body {
  margin: 20px;
  font-family: 'Palanquin', sans-serif;
  font-size: 50px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.container{
  
  display: flex;
  flex-direction: column;
  text-align: center;
}

.game-board{
 display: flex;
 justify-content: center;
}

.button{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 1px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Palanquin', sans-serif;
  font-size: 30px;
  background-color: rgb(193, 217, 240);
}

.button:active {
  background-color: rgb(172, 207, 240);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}